/*PREGUNTAR (NO OLVIDARSE): SE ACHICA LA PANTALLA, EL SITIO WEB Y LAS IMAGENES (DESORDEN)*/
*{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box; Resetea por defecto*/
}

body{
    background-image: url("imagenes/fondo.png");  /* Imagen de fondo*/
    background-repeat: no-repeat;               /* Para que no se repita la imagen*/
    background-position: center;                /* Posicion en el centro*/
    background-size: cover;                     /* Ocupe toda la pantalla*/
    background-attachment: fixed;       /* Fija la imagen de fondo en su posició*/
}
.navBar{
 
    background-color:rgba(255, 255, 255, 0.998);
    padding: 2em 0 0 1em;
    
    
}
.logo{
    font-size: 3em;
    margin: 0 0 0 .5em;
    font-family: 'Arvo', serif;
    color: rgb(0, 0, 0);
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right; 
    font-family: 'Arvo', serif;
   
}
.opcionesMenu{
    padding: .5em; 
    text-transform: uppercase;  
}

.opcionesMenu:hover{
    background-color:rgba(244, 244, 244, 0.998);

}

.enlace:link,.enlace:visited,.enlace:active{
    
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.cuerpoPrincipal{
    max-width: 100%;
    min-height: 100%; 
  
}
/*---------Posicion del texto.--------*/
.texto,.persona{
   
      position: absolute;                   /*Posición estatica o fija.*/
      height: 100vh;                        
      width: 100%;                          
      display: flex;                        /*controla la distribución.*/
      flex-direction: column;               /*columna: elementos en vertical.*/
      justify-content: center;              /*columna: elementos en centro.*/
      align-items: center;                  /*se alinean en centro*/ 
      /*PALABRAS*/
      color:white;
      font-family: 'Arvo', serif;
}
/*=============INICIAR SESSIÓN===========*/

.persona{
    /*Uso el gradiente- transición 
    suave entre dos o más colores
    */ 

    /*imagen de fondo: (0,0,0,transparencia) .*/ 
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),rgba(0,0,0,.5)),url("imagenes/fondo3.jpg");
    background-repeat: no-repeat;               /* Para que NO se repita la imagen*/
    background-position: center;                /* Posicion en el centro*/
    background-size: cover;                     /* Ocupe toda la pantalla*/
    background-attachment: fixed;               /* Quede fijo la imagen*/

}



/*=============TIENDA===============*/
.foto{
    width: 100%;
    margin: 0 auto 2em auto;
}
.gruposTarjetas{  
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.tarjeta{
    width: 30%;
    padding: 1em;
    margin: 2em;
    background-color: white;
    box-shadow: 2px 2px 2px rgb(226, 188, 188); /*Desplazamiento en el ejex ; en el eje y ; difuminado ;color*/
    transition: box-shadow .2s;
    border-radius: 10px;
}
.tarjeta:hover{
    box-shadow: 6px 6px 10px rgb(45, 37, 37);

/*=============ESPECIFICAIÓN PRODUCTOS===============*/


}
 .articulo{ /*Para diferenciarlos tengo que poner la com (,) */
    width: 100%;
    text-align: center;  /* posicion de la palabra*/
    margin: 0;
    font-size: 4em; /* tamnio de la letra*/

}
.adicional{
    width: 100%;
    text-align: left;         /* posicion DERECHA*/
    margin: .5em;
    font-size: 2em;
    font-family: 'Arvo', serif;
}

.precio{
    width: 100%;
    text-align: right;         /* posicion IZQUIERDA*/
    margin: 1em 1em 0 -1em;
    font-size: 3em;
}
/*========Fuente,letra, color========*/
.articulo, .adicional, .precio{
    color: black;
    font-family: 'Arvo', serif;
    text-transform: uppercase;

}